#root {
  margin: 0 auto;
  text-align: center;
}

.navbar {
  gap: 1rem;
  padding-left: 2rem;
}

.Page-Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  gap: 2rem;
}

h1.app-title {
    font-size: 2.8rem;
  font-weight: 700;
  color: #1a1a1a;
  text-align: center;
  margin-bottom: 2rem;
  letter-spacing: 1px;
  position: relative;
}

h1.app-title::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
  width: 600px;
  height: 4px;
  background: #5fc8a8;
  border-radius: 4px;
  opacity: 0.8;
}

nav {
  background-color: #ffffff;
}

body {
  margin: 0;
  background: #fcfffb; /* very light gray */
  font-family: system-ui, sans-serif;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}




@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
