
.primary {
    background-color: #0073b1;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.primary:hover {
    background-color: #005582;
}

.secondary {
    background-color: #e1e9ee;
    color: #0073b1;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.secondary:hover {
    background-color: #cbd6dd;
}