
.job-title {
    width: 75%;
    padding: .8rem 1rem;
    font-size: .95rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    outline: none;
    transition: all .2s ease;
    background: white;
    
}

.location {
    width: 75%;
    padding: .8rem 1rem;
    font-size: .95rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    outline: none;
    transition: all .2s ease;
    background: white;
}

.label {
    width: 25%;
    padding: .7rem .9rem;
    border-radius: 8px;
    border: 2px solid #dcd8fa;
    background: #f8f8ff;
    font-size: .95rem;
    color: #333;
    transition: all .2s ease;
}

.generated-link {
    width: 80%;
    padding: .8rem 1rem;
    font-size: .95rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    outline: none;
    transition: all .2s ease;
    background: #e9ecef;
}