

.card {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 350px;
  padding: 2rem;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, .08);
  align-items: center;
  gap: 1.5rem;
}